body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

h2, p {
  margin: 0px;
}

.card {
  width: 48em;
  height: auto;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header {
  display: flex;
  height: 5em;
  background-image: linear-gradient(to top, red, rgba(0,0,0,0.2));
  border-radius: 1.5em 1.5em 0 0;
  font-size: 2em;
  padding-left: 10px;
  align-items: center;
}

.card footer {
  display: flex;
  height: 5em;
  background-image: linear-gradient(to bottom, red, rgba(0,0,0,0.2));
  border-radius: 0 0 1.5em 1.5em;
  font-size: 2em;
  align-items: center;
  justify-content: center;
}



.card article {
  background-color: rgb(187, 4, 4);
  color: #ccc;
  height: 12em;
  padding: 10px;
  margin: auto;
  font-size: small;
}

h2 {
  line-height: 2em;
}

p{
  line-height: 1.5em;
}

.card article img {
  max-height: 100%;
  max-width: 100%;
  float: right;
}
